@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.regles {
    margin-top: 50px;
    padding-top: 30px;
    width: 100%;
    display: flex;
}

.Hand {
    position : relative;
    outline: 3px solid  #fff4dc;
    font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #fff4dc;
    border-radius: 20px;
    width: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 53px;
    padding-right: 54px;

}

.Num {
    position: absolute;
    outline: 2px solid #4F008C;
    font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    border-radius: 100px;
    width: 60px;
    height: auto;
    padding: 3px;
    font-size: 48px;
    top: -75px;
    left: -35px;
    color: #4F008C;
    background-color: white;
    transform: rotate(-4.6deg);
    font-weight: 900;
}

.Regles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    gap: 20px;
    width: 100%;
    column-gap: 200px;
    row-gap: 30px;
}

.regles {
    margin-top: 50px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Fleur {
    width: 96px;
    height: 48.38px;
}

.regles h1{
    text-align: center;
    color: #FFC840;
    font-size: 64px;
}

.regles body {
    background-color: #17002d;
    font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
}

.Retourne {
    transform: rotate(180deg);
}

.Titre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-emphasis-color: #FFC840;
}

.BasRegles {
    color: #fff4dc;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
}

/*.Texte {
    font-size: 32px;
    text-align: center;
    width: 1227px;
    align-self: center;
}*/

.boutonJouerRegle {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap : 20px;
    width: 100%;
}

.boutonJR{
    color: #ffc840;
    border: solid 3px #ffc840;
    background-color: none;
    justify-self: center;
    width: 357px;
    height: 74px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
}

.boutonJouerRegle img {
    width: 110px;
    height: auto;
    align-self: center;

}

.boutonJR:hover {
    background-color: #FFC840;
    color: black;
    cursor: pointer;
}