@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');

.Video {
  margin-top: 80px;
  font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Video img {
  height: 385px;
  width: auto;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  margin-bottom: 50px;
  align-items: center;
  width: 100%;
}

.carré {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  border-radius: 28px;
  min-width: 712px;
  width: 50%;
  height: 500px;
}

.notif {
  display: flex;
  position: absolute;
  font-weight: 900;
  font-size: 23.13px;
  min-width: 318.45px;
  color: #d1006e;
  top: -3%;
  left: -8%;
  text-align: center;
  padding: 10px;
  transform: rotate(-5deg);
  outline: 2px solid #4f008c;
  background-color: #ffffff;
  border-radius: 28px;
  width: fit-content;
}

.b3 button {
  display: flex;
  align-items: center;
  justify-content: center;
    color: white;
    border: solid 3px #d1006e;
    background-color: #d1006e;
    justify-self: center;
    padding-inline: 50px;
    width: auto;
    height: 74px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    transition: all 0.3s ease-in-out;
}

.b3 button text {
  margin-inline: 50px;
  margin-right: 50px;
}

.b3 button:hover{
    color: white;
    background: transparent;
    border-color: #d1006e;

}

.box20{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1186px) {
  .Video img {
  display: none;
  }
}

@media screen and (max-width: 768px) {
    .notif {
    left: -3%;
  }
}