.video {
  display: flex;
  position: relative;
  gap: 0;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin: 0 auto;
  padding: 0;
  z-index: 0;
  margin-top: 100px;
  width: 100%;
}

.vid {
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38px;
  color: black;
  z-index: 1;
  font-weight: bold;
}

 .explication{
    z-index: 10;
    color: #d1006e;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 150px;
    font-size: 48px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 30px;
    width: fit-content;
    line-height: 1.5;
    transform: rotate(-5deg);
    border: 3px solid #4f008c;
  }

.explication p {
    margin: 0;
    padding: 0;
}


 .règles body{
  background-color: #17002d;
  font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
 }


.b3 button {
  display: flex;
  align-items: center;
  justify-content: center;
    color: white;
    border: solid 3px #d1006e;
    background-color: #d1006e;
    justify-self: center;
    width: 357px;
    height: 74px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.b3 button:hover{
    color: white;
    background: transparent;
    border-color: #d1006e;

}


.box20{
  display: flex;
  flex-direction: column;
}

.video {
  margin-bottom: 50px;
  padding-bottom: 30px;
}



